@charset "utf-8";
/* CSS Document */
body, div, dl, dt, dd, ul, ol, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {padding:0; margin:0;}
fieldset, img{border:0;}
ol, ul {list-style:none;}
address, caption, cite, code, dfn, em, strong, th,var { font-weight:normal; font-style:normal;}
caption, th{text-align:left;}
h1, h2, h3, h4, h5, h6{font-weight:normal; font-size:100%;}
q:before, q:after {content: '';}
abbr,acronym{border:0;}
a{text-decoration: none;color: #1A1A1A}
/* body */
body{
	color:@fontblack;
}

/* 清楚浮动 */
.clearfix:before，.clearfix:after{
	content:"";
	display:table;
}
.clearfix:after{
	clear:both;
}
.clearfix{
	*zoom:1; 
}
/* 渐变背景色 */
/* 红色 */
.bg1 {
  background: -webkit-linear-gradient(left, #f25b68, #da628c);
  background: -o-linear-gradient(left, #f25b68, #da628c);
  background: linear-gradient(to right, #f25b68, #da628c);
}
/* 蓝色 */
.bg2 {
  background: -webkit-linear-gradient(left, #7997e3, #72b9d4);
  background: -o-linear-gradient(left, #7997e3, #72b9d4);
  background: linear-gradient(to right, #7997e3, #72b9d4);
}
/* 橙色 */
.bg3 {
  background: -webkit-linear-gradient(left, #f25b68, #ffd15b);
  background: -o-linear-gradient(left, #f25b68, #ffd15b);
  background: linear-gradient(to right, #f25b68, #ffd15b);
}
.bg4 {
  background: -webkit-linear-gradient(left, #a9c4fc, #a1eeff);
  background: -o-linear-gradient(left, #a9c4fc, #a1eeff);
  background: linear-gradient(to right, #a9c4fc, #a1eeff);
}
/* title */
/* 标题 */
.mainh1 {
  font-size: 48px;
}
.mainh2 {
  font-size: 40px;
}
.mainh3 {
  font-size: 32px;
}
.mainh4 {
  font-size: 24px;
}
.mainh5 {
  font-size: 20px;
}
/* 副标题 */
.subh1 {
  font-size: 28px;
  color: #9b9b9b;
}
.subh2 {
  font-size: 22px;
  color: #9b9b9b;
}
.subh3 {
  font-size: 18px;
  color: #9b9b9b;
}
.subh4 {
  font-size: 16px;
  color: #9b9b9b;
}
.shadow{
  box-shadow: 0 15px 20px  rgba(180, 180, 180, 0.5);
}

/* color */
/* 红 */
.bg1{
  background: linear-gradient(to right, #F25B68 , #DA628C);
}
/* 蓝色 */
.bg2{
  background: linear-gradient(to right, #7997E3 , #72B9D4);
}
/* 橙色 */
.bg3{
  background: linear-gradient(to right, #F25B68 , #FFD15B);
}

/* float */
.fl{
  float: left;
}
.fr{
  float: right;
}
.line{
  border-top: 1px solid #ECECEC;
  margin-top: 10px;
  width: 360px;
  margin-left: 20px;
}
label{
  font-size: 24px;
}
body{
  font-family: "PingFang SC","Helvetica";
  color: #1A1A1A;
}


/*body */
.box{
  margin: 0 auto;
  background: #FFFFFF;
}

/*  幕布  */
.mask{
  background-color: rgba(0,0,0,0.5);
  position:fixed;
  left:0;
  top:0;
  display:none;
  height:100%;
  width:100%;
  z-index: 1999;
  
}
.details{
  margin:80px;
  border-radius: 20px;
  background: #ffffff;
  height: 820px;
  overflow: hidden;
  padding-right: 40px;
}
.details_left{
  width: 620px;
  background: #74A5DD;
  height: 740px;
  position: absolute;
  border-radius: 20px 0 0 20px;
  margin-right: 40px;
  padding: 40px;
}
.details_left>.subh3{
  line-height: 35px;
  color: #FFFFFF;
  opacity: 0.5;
  filter:Alpha(opacity=50);
}
.details_left>.mainh2{
  color: #FFFFFF;
}
.details_left .info{
  margin-left: 20px;
  position: absolute;
  bottom: 20px;
  width: 580px;
  height: 130px;
  background-color: rgba(255,255,255,0.4);
  border-radius: 20px;
  padding-top: 30px;
  /*filter: blur(10px);*/
}
.details_left .info .circle1{
  float: left;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin: 0px 20px 0px 30px;
}
.details_left .info  .title .mainh4{
  margin-top: 29px;
  color: #FFFFFF;
}
.details_left .info  .title .subh4{
  line-height: 20px;
  color: #FFFFFF;
}
.details_left .info  .title span{
  display: block;
  position: absolute;
  right: 40px;
  height: 40px;
  width: 110px;
  background: #FFFFFF;
  color: #F25B68;
  top: 60px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
}
.details_right{
  background: #FFFFFF;
  height: 740px;
  margin-left: 740px;
  width:calc(100% - 740px);
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}
.details_right label{
  border: 1px solid #9B9B9B;
  border-radius: 5px;
  color: #9B9B9B;
}
.details_right p{
  font-size: 24px;
  color: #9B9B9B;
}
.details_right .collect{
  position: absolute;
  border-top: 1px solid #9B9B9B;
  bottom: 40px;
  width:  100%;
  height: 54px;

}
.details_right .collect .collect_btn{
  display: block;
  line-height: 34px;
  color: #FFFFFF;
  width: 100px;
  border: 1px solid #9B9B9B;
  margin: 19px auto 0 auto;
  text-align:center;
  border-radius: 5px;
}
.details_right .collect .collect_btn img{
  height: 18px;
  width: 18px;
  line-height: 34px;
}
#close{
  position: absolute;
  right: 17.5px;
  top: 17.5px;
  height: 45px;
  width: 45px;
  cursor: pointer;
}





/* header */
.header{
  height: 240px;
  margin: 0 auto;
  width: 100%;
}
/* LOGO */

.logo{
  padding:49px 0 48px 0;
}
.logoBig {
  width: 400px;
  height: 95px;
  margin: 0 auto;
  display: -webkit-flex;
  display: flex;
  background: -webkit-linear-gradient(left, #f25b68, #da628c);
  background: -o-linear-gradient(left, #f25b68, #da628c);
  background: linear-gradient(to right, #f25b68, #da628c);
}
.logoBig img {
  height: 92px;
  width: 91px;
  margin: 2px 43px 1px 4px;
}
.logoBig img:last-child {
  width: 250px;
  margin: 2px 12px 1px 0;
}


/*  bar  */
.bar{
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 10px 25px;
}
.funcSysbol {
  height: 60px;
  width: 40px;
}
.funcSysbol img {
  height: 40px;
  width: 40px;
}
/* nav */
.nav1 {
  display: -webkit-flex;
  display: flex;
  width: 808px;
  height: 32px;
  padding: 8px 50px 8px 42px;
  margin: 0 auto;
}
.nav1 .active {
  background: -webkit-linear-gradient(left, #f25b68, #da628c);
  background: -o-linear-gradient(left, #f25b68, #da628c);
  background: linear-gradient(to right, #f25b68, #da628c);
  width: 80px;
  height: 32px;
  border: 0;
}
.nav1 .active a {
  color: #ffffff;
}
.nav1 > li {
  width: 78px;
  height: 30px;
  border: 1px solid #d2d2d2;
  line-height: 30px;
  font-size: 20px;
  margin-right: 36px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.nav1 > li:last-child {
  width: 110px;
  margin-right: 0;
}
.btn {
  text-align: center;
  cursor: pointer;
  line-height: 32px;
  font-size: 20px;
}
.goLight {
  background: -webkit-linear-gradient(to right, #f25b68, #da628c);
  background: -o-linear-gradient(to right, #f25b68, #da628c);
  background: linear-gradient(to right, #f25b68, #da628c);
  color: #ffffff;
  height: 32px;
  width: 80px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.dark {
  color: #9b9b9b;
  border: 1px solid #d2d2d2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 30px;
  width: 78px;
}
/* footer */
.footer{
  background: #434343;
  height: 400px;
}