@charset "utf-8";
/* CSS Document */
body, div, dl, dt, dd, ul, ol, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {padding:0; margin:0;}
fieldset, img{border:0;}
ol, ul {list-style:none;}
address, caption, cite, code, dfn, em, strong, th,var { font-weight:normal; font-style:normal;}
caption, th{text-align:left;}
h1, h2, h3, h4, h5, h6{font-weight:normal; font-size:100%;}
q:before, q:after {content: '';}
abbr,acronym{border:0;}
a{text-decoration: none;color: #1A1A1A}
/* body */
body{
	color:@fontblack;
}

/* 清楚浮动 */
.clearfix:before，.clearfix:after{
	content:"";
	display:table;
}
.clearfix:after{
	clear:both;
}
.clearfix{
	*zoom:1; 
}
/* 渐变背景色 */
/* 红色 */
.bg1 {
  background: -webkit-linear-gradient(left, #f25b68, #da628c);
  background: -o-linear-gradient(left, #f25b68, #da628c);
  background: linear-gradient(to right, #f25b68, #da628c);
}
/* 蓝色 */
.bg2 {
  background: -webkit-linear-gradient(left, #7997e3, #72b9d4);
  background: -o-linear-gradient(left, #7997e3, #72b9d4);
  background: linear-gradient(to right, #7997e3, #72b9d4);
}
/* 橙色 */
.bg3 {
  background: -webkit-linear-gradient(left, #f25b68, #ffd15b);
  background: -o-linear-gradient(left, #f25b68, #ffd15b);
  background: linear-gradient(to right, #f25b68, #ffd15b);
}
.bg4 {
  background: -webkit-linear-gradient(left, #a9c4fc, #a1eeff);
  background: -o-linear-gradient(left, #a9c4fc, #a1eeff);
  background: linear-gradient(to right, #a9c4fc, #a1eeff);
}
/* title */
/* 首页标题 */

.firh1{
  font-size: 50px;
}
/* 标题 */
.mainh1 {
  font-size: 48px;
}
.mainh2 {
  font-size: 40px;
}
.mainh3 {
  font-size: 32px;
}
.mainh4 {
  font-size: 24px;
}
.mainh5 {
  font-size: 20px;
}
/* 副标题 */
.subh1 {
  font-size: 28px;
  color: #9b9b9b;
}
.subh2 {
  font-size: 22px;
  color: #9b9b9b;
}
.subh3 {
  font-size: 18px;
  color: #9b9b9b;
}
.subh4 {
  font-size: 16px;
  color: #9b9b9b;
}
.shadow{
  box-shadow: 0 15px 20px  rgba(180, 180, 180, 0.5);
}
.hide{
  display: none;
}
/* color */
/* 红 */
.bg1{
  background: linear-gradient(to right, #F25B68 , #DA628C);
}
/* 蓝色 */
.bg2{
  background: linear-gradient(to right, #7997E3 , #72B9D4);
}
/* 橙色 */
.bg3{
  background: linear-gradient(to right, #F25B68 , #FFD15B);
}

/* float */
.fl{
  float: left;
}
.fr{
  float: right;
}
.line{
  border-top: 1px solid #ECECEC;
  margin-top: 10px;
  width: 360px;
  margin-left: 20px;
}
label{
  font-size: 24px;
}
body{
  font-family: "PingFang SC","Helvetica";
  color: #1A1A1A;
}


/*body */
.box{
  margin: 0 auto;
  background: #FFFFFF;
}

/*  幕布  */
.mask{
  background-color: rgba(0,0,0,0.5);
  position:fixed;
  left:0;
  top:0;
  display:none;
  height:100%;
  width:100%;
  z-index: 1999;
}

.searchBar{
  width: 100%;
  height: 144px;
  text-align: center;
  background: #FFFFFF;
}
.searchBar input{
  height: 65px;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  font-size: 50px;
  line-height: 65px;
  margin: 50px auto 0 auto;
  width: 1400px;
}


#close{
  position: absolute;
  right: 21.5px;
  top: 21.5px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}





/* header */
.header{
  height: 240px;
  margin: 0 auto;
  width: 100%;
}
/* LOGO */

.logo{
  padding:49px 0 48px 0;
}
.logoBig {
  width: 400px;
  height: 95px;
  margin: 0 auto;
  display: -webkit-flex;
  display: flex;
  background: -webkit-linear-gradient(left, #f25b68, #da628c);
  background: -o-linear-gradient(left, #f25b68, #da628c);
  background: linear-gradient(to right, #f25b68, #da628c);
}
.logoBig img {
  height: 92px;
  width: 91px;
  margin: 2px 43px 1px 4px;
}
.logoBig img:last-child {
  width: 250px;
  margin: 2px 12px 1px 0;
}


/*  bar  */
.bar{
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 10px 25px;
}
.funcSysbol {
  height: 60px;
  width: 40px;
  cursor: pointer;
}
.funcSysbol img{
  height: 40px;
  width: 40px;
}
/* nav */
.nav1 {
  display: -webkit-flex;
  display: flex;
  width: 808px;
  height: 32px;
  padding: 8px 50px 8px 42px;
  margin: 0 auto;
}
.nav1 .active {
  background: -webkit-linear-gradient(left, #f25b68, #da628c);
  background: -o-linear-gradient(left, #f25b68, #da628c);
  background: linear-gradient(to right, #f25b68, #da628c);
  width: 80px;
  height: 32px;
  border: 0;
}
.nav1 .active a {
  color: #ffffff;
}
.nav1 > li {
  width: 78px;
  height: 30px;
  border: 1px solid #d2d2d2;
  line-height: 30px;
  font-size: 20px;
  margin-right: 36px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.nav1 > li:last-child {
  width: 110px;
  margin-right: 0;
}
.btn {
  text-align: center;
  cursor: pointer;
  line-height: 32px;
  font-size: 20px;
}
.goLight {
  background: -webkit-linear-gradient(to right, #f25b68, #da628c);
  background: -o-linear-gradient(to right, #f25b68, #da628c);
  background: linear-gradient(to right, #f25b68, #da628c);
  color: #ffffff;
  height: 32px;
  width: 80px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.goDark {
  background: #ffffff;
  border: 1px solid #707070;
  height: 30px;
  width: 78px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #f25b68;
}
.dark {
  color: #9b9b9b;
  border: 1px solid #d2d2d2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 30px;
  width: 78px;
}
/* footer */
.footer{
  background: #434343;
  height: 400px;
}
.logoSmall {
  width: 200px;
  height: 48px;
  display: -webkit-flex;
  display: flex;
}
.logoSmall img {
  height: 40px;
  width: 37px;
  margin: 4px 17px 4px 19px;
}
.logoSmall img:last-child {
  width: 101px;
  margin: 4px 26px 4px 0;
}
.functionBar1 {
  padding-left: 32px;
  height: 48px;
  width: 150px;
  padding-right: 18px;
  display: flex;
}
.functionBar1 img {
  width: 32px;
  height: 32px;
  margin: 8px 0 8px 18px;
  vertical-align: bottom;
}