@charset "utf-8";
.main {
  padding-top: 48px;
  width: 100%;
  background: #f7f7f7;
  overflow: hidden;
}
.main .card {
  display: flex;
  height: 510px;
  width: 1704px;
  margin: 0 auto;
  padding-bottom: 60px;
}
.main .card h3 {
  color: #ffffff;
}
.main .card .card1 {
  width: 840px;
  height: 510px;
  color: white;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  cursor: pointer;
}
.main .card .card2 {
  width: 408px;
  height: 510px;
  margin-left: 24px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.main .card .card2 .subh3 {
  margin: 15px 0 0 20px;
}
.main .card .card2 .mainh3 {
  margin-left: 20px;
}
.main .find {
  display: flex;
  height: 840px;
  margin: 0 auto;
  width: 1704px;
  padding-bottom: 48px;
}
.main .find .findcontent {
  width: 172px;
  margin-left: 476px;
}
.main .find .finddiv li {
  width: 1056px;
  height: 264px;
  margin-bottom: 48px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  position: relative;
}
.main .find .finddiv li h3 {
  color: #ffffff;
}
.main .find .finddiv li .subh3 {
  position: absolute;
  top: 171px;
  left: 20px;
}
.main .find .finddiv li .mainh3 {
  position: absolute;
  top: 196px;
  left: 20px;
}
.main .find .finddiv li:last-child {
  margin-bottom: 0;
}
.main .punch {
  width: 2136px;
}
.main .punch h1 {
  margin-bottom: 27px;
  height: 67px;
}
.main .punch .punchcard {
  display: flex;
  height: 200px;
  padding-bottom: 60px;
}
.main .punch .punchcard li {
  width: 516px;
  height: 200px;
  display: flex;
  margin-right: 24px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #ffffff;
}
.main .punch .punchcard li .canvas {
  margin: 20px;
}
.main .punch .punchcard li .cardright {
  position: relative;
}
.main .punch .punchcard li .cardright .mainh3 {
  width: 280px;
  height: 80px;
  margin-top: 12px;
}
.main .punch .punchcard li .cardright .subh3 {
  width: 280px;
  height: 50px;
}
.main .punch .punchcard li .cardright .btn {
  position: absolute;
  right: 101px;
  bottom: 20px;
}
.main .punch .punchcard li:last-child {
  margin-left: 0;
}
.main .recommend {
  width: 1704px;
  height: 604px;
  margin: 0 auto;
  padding-bottom: 60px;
}
.main .recommend h1 {
  margin-bottom: 27px;
}
.main .recommend .recommendcard {
  display: flex;
  height: 510px;
}
.main .recommend .recommendcard > li {
  width: 408px;
  margin-right: 24px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  overflow: hidden;
}
.main .recommend .recommendcard > li .up {
  height: 85px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px 20px 0 20px;
}
.main .recommend .recommendcard > li .up h3 {
  color: #ffffff;
}
.main .recommend .recommendcard > li .down1 {
  margin-top: 410px;
  height: 85px;
  padding: 15px 20px 0 20px;
  background: #ffffff;
}
.main .recommend .recommendcard > li .down2 {
  margin-top: 410px;
  height: 80px;
  padding: 20px 24px 0 24px;
  background: #ffffff;
  display: flex;
}
.main .recommend .recommendcard > li .down2 .circle1 {
  height: 60px;
  width: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  margin-right: 10px;
}
.main .recommend .recommendcard > li .down2 .title {
  margin: 5px 100px 0 0;
  height: 49px;
  width: 110px;
}
.main .recommend .recommendcard > li .down2 .btn {
  margin: 14px 0;
}
.main .recommend .recommendcard > li:first-child {
  padding: 0 20px;
  width: 368px;
}
.main .recommend .recommendcard > li:first-child .subh3:first-child {
  margin: 27px 0 1px 0;
}
.main .recommend .recommendcard > li:first-child .mainh3 {
  margin-bottom: 32px;
}
.main .recommend .recommendcard > li:first-child ul li {
  display: flex;
  border-top: 1px solid #d2d2d2;
  height: 79px;
}
.main .recommend .recommendcard > li:first-child ul li .circle1 {
  height: 60px;
  width: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  margin: 10px 10px 10px 0;
}
.main .recommend .recommendcard > li:first-child ul li .title {
  margin: 15px 108px 0 0;
  height: 49px;
  width: 110px;
}
.main .recommend .recommendcard > li:first-child ul li .btn {
  margin: 24px 0;
}
.main .recommend .recommendcard > li:first-child .subh3:last-child {
  margin-top: 24px;
  text-align: center;
  cursor: pointer;
}
.main .recommend .recommendcard > li:last-child {
  margin-right: 0;
}
.main .more {
  width: 100%x;
  height: 642px;
  background: #434343;
  padding-top: 36px;
}
.main .more h1 {
  margin-bottom: 27px;
  color: #ffffff;
}
.main .more ul {
  display: flex;
}
.main .more ul li {
  margin-right: 24px;
}
.main .more ul li .morecard {
  width: 624px;
  height: 376px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.main .more ul li .title {
  width: 584px;
  height: 92px;
  margin: 16px auto 0 auto;
}
.main .more ul li .title h2 {
  color: #ffffff;
}
.main .more ul li:last-child {
  margin-right: 0;
}
.main .resources {
  padding: 60px 0;
  height: 260px;
}
.main .resources h1 {
  margin-bottom: 33px;
}
.main .resources ul {
  display: flex;
  height: 160px;
  width: 2131px;
}
.main .resources ul li {
  width: 516px;
  margin-right: 24px;
  display: flex;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #ffffff;
}
.main .resources ul li .circle2 {
  margin: 40px 18px 0 20px;
  width: 80px;
  height: 80px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  border-radius: 80px;
}
.main .resources ul li .title {
  margin-top: 12px;
  height: 130px;
  width: 377px;
}
.main .resources ul li .title .mainh3 {
  margin-bottom: 12px;
}
.main .resources ul li:last-child {
  margin-right: 0;
}
.header1 {
  display: flex;
  width: 100%;
}
.fixed {
  position: fixed;
  top: 0px;
  width: 100%;
  background: #ffffff;
  z-index: 2000;
}
.cards {
  width: 1400px;
  height: 708px;
  margin: 48px auto 0 auto;
  display: flex;
}
.cards h3 {
  color: #ffffff;
  margin-bottom: 14px;
  font-size: 30px;
}
.cards .Sleft {
  height: 582px;
  width: 440px;
  margin-right: 40px;
}
.cards .Sleft ul {
  height: 528px;
}
.cards .Sleft ul li {
  margin-bottom: 12px;
  background: #ffffff;
  height: 96px;
  width: 440px;
  display: flex;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.cards .Sleft ul li .radiuBtn {
  height: 60px;
  width: 60px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 18px 8px 18px 16px;
}
.cards .Sleft ul li .mainh5 {
  margin: 34px 198px 0 0;
}
.cards .Sleft ul li .subh5 {
  margin-top: 37px;
  color: #9b9b9b;
}
.cards .Smiddle {
  margin-right: 40px;
  width: 440px;
}
.cards .Smiddle .SMup,
.cards .Smiddle .SMdown {
  height: 330px;
}
.cards .Smiddle .SMup ul,
.cards .Smiddle .SMdown ul {
  height: 276px;
}
.cards .Smiddle .SMup ul li,
.cards .Smiddle .SMdown ul li {
  margin-bottom: 12px;
  background: #ffffff;
  height: 60px;
  width: 440px;
  display: flex;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.cards .Smiddle .SMup ul li .circleBtn,
.cards .Smiddle .SMdown ul li .circleBtn {
  height: 40px;
  width: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  margin: 10px 8px 10px 16px;
}
.cards .Smiddle .SMup ul li .mainh5,
.cards .Smiddle .SMdown ul li .mainh5 {
  margin: 16px 218px 0 0;
}
.cards .Smiddle .SMup ul li .subh5,
.cards .Smiddle .SMdown ul li .subh5 {
  margin-top: 19px;
  color: #9b9b9b;
}
.cards .Smiddle .SMup {
  margin-bottom: 48px;
}
.cards .Sright {
  height: 690px;
  width: 440px;
}
.cards .Sright ul {
  height: 636px;
}
.cards .Sright ul li {
  margin-bottom: 12px;
  background: #ffffff;
  height: 84px;
  width: 440px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding-top: 12px;
}
.cards .Sright ul li .mainh5 {
  margin: 0 0 22px 16px;
}
.cards .Sright ul li .subh4 {
  margin-left: 16px;
  color: #9b9b9b;
}
.barInactive {
  position: relative;
}
.barInactive .barCard {
  z-index: 999;
  position: absolute;
  left: -349px;
  top: 4px;
  height: 332px;
  width: 336px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.barInactive .barCard .cardlogo {
  height: 60px;
}
.barInactive .barCard .cardlogo .logoSmall {
  margin: 10px auto;
}
.barInactive .barCard ul {
  display: flex;
  width: 336px;
  flex-wrap: wrap-reverse;
  height: 224px;
}
.barInactive .barCard ul li {
  width: 112px;
  height: 112px;
  cursor: pointer;
}
.barInactive .barCard ul li:hover {
  background: #F7F7F7;
}
.barInactive .barCard ul li .squareBtn {
  width: 42px;
  height: 42px;
  margin: 20px 35px 16px 35px;
}
.barInactive .barCard ul li h5 {
  font-size: 12px;
  text-align: center;
}
.barInactive .barCard .subh3 {
  width: 76px;
  height: 24px;
  margin: 0 auto;
}
.noticeInactive {
  position: relative;
}
.noticeInactive .noticeCard {
  left: -450px;
  top: 0px;
  z-index: 998;
}
.infomateInactive {
  position: relative;
}
.infomateInactive .loginCards {
  left: -385px;
  top: 0px;
  z-index: 997;
}
.infomateInactive .userCard {
  left: -450px;
  top: 0px;
  z-index: 997;
}
.phoneLogin,
.emailLogin {
  height: 184px;
  position: relative;
}
.phoneLogin .sure,
.emailLogin .sure {
  margin: 0 auto;
  width: 120px;
  height: 32px;
  line-height: 32px;
  color: #FFFFFF;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}
.phoneLogin .subh4,
.emailLogin .subh4 {
  position: absolute;
  bottom: -32px;
  right: 132px;
  cursor: pointer;
}
.phoneLogin input[type="text"],
.emailLogin input[type="text"],
.phoneLogin input[type="password"],
.emailLogin input[type="password"] {
  width: 316px;
  height: 40px;
  font-size: 20px;
  padding-left: 12px;
  border-radius: 5px;
  border: 1px solid #D2D2D2;
  margin-bottom: 24px;
}
#logoSmall,
#functionBar1,
.barCard,
.noticeCard,
.loginCards,
.userCard {
  opacity: 0;
  transition: all 0.5s ease-in;
}
#bar {
  opacity: 1;
  transition: all 0.5s ease-in;
}
.icon {
  position: relative;
}
.icon .noticeCard {
  position: absolute;
  top: 40px;
  left: -400px;
}
.icon .loginCards {
  position: absolute;
  top: 40px;
  left: -300px;
  z-index: 1000px;
}
.icon .userCard {
  position: absolute;
  top: 40px;
  left: -400px;
  z-index: 1000px;
}
.noticeCard {
  position: absolute;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.noticeCard .moreNotice {
  height: 420px;
  width: 440px;
  position: relative;
}
.noticeCard .moreNotice h3 {
  padding-top: 12px;
  margin: 0 0 8px 20px;
  font-size: 30px;
  color: #f25b68;
}
.noticeCard .moreNotice ul {
  width: 440px;
  height: 320px;
  padding-bottom: 40px;
}
.noticeCard .moreNotice ul li {
  height: 68px;
  position: relative;
  border-bottom: 1px solid #d2d2d2;
  padding-top: 12px;
}
.noticeCard .moreNotice ul li .mainh5 {
  margin: 0 0 7px 16px;
}
.noticeCard .moreNotice ul li .subh4 {
  margin-left: 16px;
}
.noticeCard .moreNotice ul li img {
  position: absolute;
  height: 15px;
  width: 15px;
  top: 32.5px;
  right: 17.5px;
  display: none;
}
.noticeCard .moreNotice ul li:hover {
  background: #E3E3E3;
}
.noticeCard .moreNotice ul li:hover img {
  display: block;
}
.noticeCard .moreNotice .findMore {
  position: absolute;
  left: 16px;
  bottom: 10px;
  color: #9b9b9b;
}
.noticeCard .moreNotice .subh4:last-child {
  position: absolute;
  right: 16px;
  bottom: 10px;
  color: #f25b68;
}
.noticeCard .haveNotice {
  width: 440px;
  position: relative;
}
.noticeCard .haveNotice h3 {
  padding-top: 12px;
  margin: 0 0 8px 20px;
  font-size: 30px;
  color: #f25b68;
}
.noticeCard .haveNotice ul {
  width: 440px;
  padding-bottom: 40px;
}
.noticeCard .haveNotice ul li {
  height: 68px;
  position: relative;
  border-bottom: 1px solid #d2d2d2;
  padding-top: 12px;
}
.noticeCard .haveNotice ul li .mainh5 {
  margin: 0 0 7px 16px;
}
.noticeCard .haveNotice ul li .subh4 {
  margin-left: 16px;
}
.noticeCard .haveNotice ul li img {
  position: absolute;
  height: 15px;
  width: 15px;
  top: 32.5px;
  right: 17.5px;
  display: none;
}
.noticeCard .haveNotice ul li:hover {
  background: #E3E3E3;
}
.noticeCard .haveNotice ul li:hover img {
  display: block;
}
.noticeCard .haveNotice .findMore {
  position: absolute;
  left: 16px;
  bottom: 10px;
  color: #9b9b9b;
}
.noticeCard .haveNotice .subh4:last-child {
  position: absolute;
  right: 16px;
  bottom: 10px;
  color: #f25b68;
}
.noticeCard .noNotice {
  height: 200px;
  width: 440px;
  position: relative;
}
.noticeCard .noNotice h3 {
  padding-top: 12px;
  margin: 0 0 8px 20px;
  font-size: 30px;
  color: #f25b68;
}
.noticeCard .noNotice .noinfo {
  position: absolute;
  height: 28px;
  width: 80px;
  left: 180px;
  top: 86px;
  color: #9b9b9b;
}
.noticeCard .noNotice .findMore {
  position: absolute;
  left: 16px;
  bottom: 10px;
  color: #9b9b9b;
}
.loginCards {
  position: absolute;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  height: 397px;
  width: 376px;
}
.loginCards h3 {
  padding-top: 12px;
  margin: 0 0 20px 20px;
  font-size: 30px;
  color: #f25b68;
}
.loginCards .btns {
  border-top: 1px solid #d2d2d2;
  display: flex;
  width: 376px;
  height: 36px;
  padding-top: 12px;
}
.loginCards .btns li {
  height: 36px;
  width: 36px;
  border-radius: 5px;
  margin-right: 8px;
  cursor: pointer;
}
.loginCards .btns li:first-child {
  margin-left: 24px;
}
.loginCards .btns .subh4 {
  margin-top: 6px;
  margin-left: 176px;
}
.loginCards .loginCard {
  width: 328px;
  height: 262px;
  margin: 0 24px;
}
.loginCards .loginCard .loginChoose {
  margin-bottom: 18px;
}
.loginCards .loginCard .loginChoose .ture {
  color: #1A1A1A;
}
.loginCards .loginCard .loginChoose em {
  font-size: 18px;
  color: #9B9B9B;
  margin-right: 20px;
  cursor: pointer;
}
.loginCards .loginCard .loginChoose .lines {
  height: 2px;
  width: 192px;
  border-radius: 2px;
  position: relative;
  background: #E3E3E3;
}
.loginCards .loginCard .loginChoose .lines .arc {
  background: linear-gradient(to right, #f25b68, #da628c);
}
.loginCards .loginCard .loginChoose .lines .line1 {
  height: 2px;
  width: 100px;
  border-radius: 2px;
  position: absolute;
  left: 0;
}
.loginCards .loginCard .loginChoose .lines .line2 {
  height: 2px;
  width: 92px;
  border-radius: 2px;
  position: absolute;
  right: 0;
}
.userCard {
  position: absolute;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 440px;
}
.userCard h3 {
  padding-top: 12px;
  margin: 0 0 15px 20px;
  font-size: 30px;
  color: #f25b68;
}
.userCard .circle2 {
  position: absolute;
  height: 42px;
  width: 42px;
  -webkit-border-radius: 42px;
  -moz-border-radius: 42px;
  border-radius: 42px;
  right: 16px;
  top: 12px;
}
.userCard .userClass {
  height: 21px;
  width: 368px;
  margin-left: 16px;
  margin-bottom: 10px;
  display: flex;
}
.userCard .userClass li {
  font-size: 16px;
  margin-right: 12px;
}
.userCard .userClass li:last-child {
  margin-right: 0;
}
.userCard .userClass .active {
  color: #f25b68;
}
.userCard ul.users {
  width: 440px;
}
.userCard ul.users li {
  background: #ffffff;
  height: 80px;
  width: 440px;
  display: flex;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.userCard ul.users li .radiuBtn {
  height: 60px;
  width: 60px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 10px 8px 10px 16px;
}
.userCard ul.users li .mainh5 {
  margin: 26px 198px 0 0;
}
.userCard ul.users li .subh5 {
  margin-top: 29px;
  color: #9b9b9b;
}
.userCard div.users {
  height: 110px;
}
.userCard div.users .nopro {
  padding-top: 36px;
  margin: 0 auto 46px auto;
  text-align: center;
  height: 28px;
}
.userCard .title {
  display: flex;
  height: 30px;
  border-top: 1px solid #d2d2d2;
}
.userCard .title .findMore {
  margin: 8px 280px 0px 16px;
}
.userCard .title .subh4:last-child {
  margin-top: 8px;
  color: #f25b68;
}
.barImg {
  background: url(../images/导出4.png) no-repeat 0 0;
}
.barImg:hover {
  background: url(../images/导出4.png) no-repeat 0 -50px;
}
.searchImg {
  background: url(../images/导出4.png) no-repeat -50px 0;
}
.searchImg:hover {
  background: url(../images/导出4.png) no-repeat -50px -50px;
}
.noticeImg {
  background: url(../images/导出4.png) no-repeat -100px 0;
  position: relative;
}
.noticeImg:hover {
  background: url(../images/导出4.png) no-repeat -100px -50px;
}
.noticeImg span {
  display: block;
  position: absolute;
  width: 24px;
  height: 16px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-linear-gradient(to right, #f25b68, #da628c);
  background: -o-linear-gradient(to right, #f25b68, #da628c);
  background: linear-gradient(to right, #f25b68, #da628c);
  color: #ffffff;
  font-size: 12px;
  right: -6px;
  top: -5px;
}
.infomateImg {
  background: url(../images/导出4.png) no-repeat -150px 0;
}
.infomateImg:hover {
  background: url(../images/导出4.png) no-repeat -150px -50px;
}
