@charset "utf-8";
.main {
  padding-top: 48px;
  width: 100%;
  background: #f7f7f7;
  overflow: hidden;
}
.main .card {
  display: flex;
  height: 510px;
  width: 1704px;
  margin: 0 auto;
  padding-bottom: 60px;
}
.main .card h3 {
  color: #ffffff;
}
.main .card .card1 {
  width: 840px;
  height: 510px;
  color: white;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  cursor: pointer;
}
.main .card .card2 {
  width: 408px;
  height: 510px;
  margin-left: 24px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.main .card .card2 .subh3 {
  margin: 15px 0 0 20px;
}
.main .card .card2 .mainh3 {
  margin-left: 20px;
}
.main .find {
  display: flex;
  height: 840px;
  margin: 0 auto;
  width: 1704px;
  padding-bottom: 48px;
}
.main .find .findcontent {
  width: 172px;
  margin-left: 476px;
}
.main .find .finddiv li {
  width: 1056px;
  height: 264px;
  margin-bottom: 48px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  position: relative;
}
.main .find .finddiv li h3 {
  color: #ffffff;
}
.main .find .finddiv li .subh3 {
  position: absolute;
  top: 171px;
  left: 20px;
}
.main .find .finddiv li .mainh3 {
  position: absolute;
  top: 196px;
  left: 20px;
}
.main .find .finddiv li:last-child {
  margin-bottom: 0;
}
.main .punch {
  width: 2136px;
  margin-left: 99px;
}
.main .punch h2 {
  margin-bottom: 27px;
  height: 67px;
}
.main .punch .punchcard {
  display: flex;
  height: 200px;
  padding-bottom: 60px;
}
.main .punch .punchcard li {
  width: 516px;
  height: 200px;
  display: flex;
  margin-right: 24px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #ffffff;
}
.main .punch .punchcard li .canvas {
  margin: 20px;
}
.main .punch .punchcard li .cardright {
  position: relative;
}
.main .punch .punchcard li .cardright .mainh3 {
  width: 280px;
  height: 80px;
  margin-top: 12px;
}
.main .punch .punchcard li .cardright .subh3 {
  width: 280px;
  height: 50px;
}
.main .punch .punchcard li .cardright .btn {
  position: absolute;
  right: 101px;
  bottom: 20px;
}
.main .punch .punchcard li:last-child {
  margin-left: 0;
}
