@charset "utf-8";
.box {
  width: 100%;
  background: #f7f7f7;
  padding-bottom: 120px;
}
.box .header {
  height: 48px;
  background: #ffffff;
}
.box .informate {
  margin: 24px 260px 12px;
  height: 60px;
}
.box .informate .leftinfo {
  float: left;
  overflow: hidden;
}
.box .informate .leftinfo .circle {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  float: left;
}
.box .informate .leftinfo .tit {
  float: left;
  padding-left: 18px;
}
.box .informate .leftinfo .tit .subh4 {
  margin-top: 6px;
}
.box .informate .rightinfo {
  height: 46px;
  width: 400px;
  float: right;
}
.box .informate .rightinfo h4 {
  color: #F25B68;
  text-align: right;
  line-height: 26px;
  height: 26px;
  font-size: 16px;
}
.box .informate .rightinfo .progress {
  width: 400px;
  height: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #e3e3e3;
}
.box .informate .rightinfo .progress #col {
  height: 20px;
  float: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.box .informate .rightinfo .progress #percent {
  float: right;
  margin-right: 7px;
  line-height: 20px;
  font-size: 14px;
}
.box .interaction {
  margin: 0 260px;
  height: 954px;
  border: 1px solid #d2d2d2;
  background: #ffffff;
}
.box .interaction .dot {
  position: fixed;
  width: 60px;
  height: 60px;
  right: 157px;
  bottom: 48px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  cursor: pointer;
}
.box .notes {
  margin: 48px 260px 0;
  height: 198px;
}
.box .notes .leftnotes {
  padding: 24px 0 0 24px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #ffffff;
  border: 1px solid #d2d2d2;
  width: 62%;
  float: left;
  overflow: hidden;
}
.box .notes .leftnotes h5 {
  font-size: 20px;
}
.box .notes .leftnotes .date {
  overflow: hidden;
  height: 48px;
  padding-top: 24px;
  width: 1480px;
  padding-bottom: 24px;
}
.box .notes .leftnotes .date li {
  float: left;
  margin-left: 12px;
  text-align: center;
  color: #F25B68;
  background: #e3e3e3;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  height: 48px;
  width: 48px;
  line-height: 48px;
  -webkit-border-radius: 48px;
  -moz-border-radius: 48px;
  border-radius: 48px;
  cursor: pointer;
}
.box .notes .leftnotes .date .active {
  background: #F25B68;
  color: #ffffff;
}
.box .notes .leftnotes #scroll {
  width: 848px;
  height: 3px;
  position: relative;
  margin-bottom: 48px;
}
.box .notes .leftnotes #scroll #bar {
  height: 3px;
  width: 240px;
  background: #d2d2d2;
  position: absolute;
  left: 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.box .notes .rightnotes {
  width: 29.5%;
  height: 123px;
  border: 1px solid #d2d2d2;
  background: #ffffff;
  padding: 24px;
  float: right;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.box .notes .rightnotes h3 {
  font-size: 22px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #9B9B9B;
  width: 110px;
  border: 1px solid #d2d2d2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.box .notes .rightnotes .kind {
  margin-top: 24px;
}
.box .notes .rightnotes .kind h4 {
  font-size: 14px;
  color: #9B9B9B;
}
.box .notes .rightnotes .kind h5 {
  margin-top: 9px;
  font-size: 20px;
}
