#box{
	margin: 0 auto;
	overflow: hidden;
}
a{
	text-decoration: none;
	color: #000;
}
.hide{
	display: none;
}
#box .left-nav{
	position: fixed;
	float: left;
	border:1px solid #000;
	margin: 10px 50px;
	/*height: 467px;*/
	height: 359px;
	overflow: hidden;
/*	-webkit-transition:height 0.5s ease 0;
	-moz-transition:height 0.5s ease 0;
	-ms-transition:height 0.5s ease 0;
	-o-transition:height 0.5s ease 0;
	transition:height 0.5s ease 0;*/
}
#box .left-nav h2{
	margin: 5px 20px;
	height: 30px;
	line-height: 30px;
	font-weight: bold;
}
#box .left-nav ul li{
	height: 30px;
	line-height: 35px;
	margin: 5px 10px;
	width: 370px;
	list-style: none;
	border-top:1px solid #000;
	text-indent: 20px;
}
#box .left-nav a:hover{
	color: red;
}
#box .left-nav ul .end{
	border-bottom: 1px solid #000;
	padding-bottom: 5px;
	margin-bottom: 0px;
}
#box .left-nav p{
	float: right;
	margin-right: 30px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	font-weight: bold;
	color: red;
}
#box .left-nav p:hover{
	text-decoration: underline;
}
#box .right-nav{
	float: left;
	margin: 10px 100px 10px 475px ;
	width: 70%;
	min-width: 1130px;
	border: 1px solid #000;
}
#box .right-nav h1{
	height: 40px;
	line-height: 40px;
	font-size: 34px;
	font-weight: bold;
	text-align: center;
	padding: 20px 0;
	border-bottom: 1px solid #000;
}
#box .right-nav .list{
	border-bottom: 1px solid #000;
}
#box .right-nav .list h2{
	text-align: center;
	height: 30px;
	line-height: 30px;
	font-weight: bold;
	margin-top: 30px;
	font-size: 28px;
}
#box .right-nav .list h3{
	text-align: center;
	height: 25px;
	line-height: 25px;
	margin-top: 10px;
	font-size: 20px;
}
#box .right-nav .list p{
	text-indent: 2em;
	padding: 30px;
	line-height: 30px;
}
#box .right-nav .list span{
	float: right;
	margin-right: 30px;
	color: red;
	cursor: pointer;
	font-weight: bold;
}
#box .right-nav .list span:hover{
	text-decoration: underline;
}