/* title */
.mainh1{
	font-size: 50px;
	font-weight: bold;
}
.mainh2{
	font-size: 40px;
	font-weight: bold;
}
.mainh3{
	font-size: 30px;
	font-weight: bold;
}
.mainh4{
	font-size: 24px;
	font-weight: bold;
}
.mainh5{
	font-size: 20px;
	font-weight: bold;
}

.subh1{
	font-size: 30px;
	font-weight: bold;
	color: #9B9B9B;
}
.subh2{
	font-size: 55px;
	font-weight: bold;
	color: #9B9B9B;
}
.subh3{
	font-size: 18px;
	font-weight: bold;
	color: #9B9B9B;
}
.subh4{
	font-size: 16px;
	font-weight: bold;
	color: #9B9B9B;
}
.shadow{
	box-shadow: 0 15px 20px  rgba(180, 180, 180, 0.5);;
}

/* color */
/* 红 */
.bg1{
	background: linear-gradient(to right, #F25B68 , #DA628C);
}
/* 蓝色 */
.bg2{
	background: linear-gradient(to right, #7997E3 , #72B9D4);
}
/* 橙色 */
.bg3{
	background: linear-gradient(to right, #F25B68 , #FFD15B);
}

/* float */
.fl{
	float: left;
}
.fr{
	float: right;
}
.line{
	border-top: 1px solid #ECECEC;
	margin-top: 10px;
	width: 360px;
	margin-left: 20px;
}
label{
	font-size: 24px;
}
body{
	font-family: "PingFang SC","Helvetica";
	color: #1A1A1A;
}


/*body */
.box{
	margin: 0 auto;
	background: #FFFFFF;
}
/* header */
.header{
	height: 210px;
	margin: 0 auto;
	padding-top: 80px;
	width: 1410px;
}
.header .logo{
	height: 130px;
	width: 400px;
	margin: 0 auto;
	text-align: center;
}
.header .nav{
	height: 80px;
	width: 1410px;
	background: #FFCFB7;

}
.header .nav ul{
	margin:auto 128px;
}
.header .nav ul li{
	margin:21px 0 21px 58px;
	float: left;
	line-height: 38px;
	height: 36px;
	width: 74px;
	text-align: center;
	line-height: 38px;
	border-radius: 5px;
	border: 1px solid #E3E3E3;
	font-size: 20px;
	font-weight: bold;
}
.header .nav ul li:nth-last-child(1){
	width: 130px;
}
.header .nav ul .navselect{
	height: 38px;
	border: none;
	color: #FFFFFF;
}
/* main */
.main{
	background: #F7F7F7;
	overflow: hidden;
}
.main .card{
	margin:50px auto 0px auto;
	overflow: hidden;
	padding-bottom: 80px;
	width: 1720px;
}
.main .card .card1{
	height: 480px;
	width: 840px;
	border-radius: 20px;
	float: left;
	margin-right: 40px;
}
.main .card .card2{
	height: 480px;
	width: 400px;
	border-radius: 20px;
	float: left;
	margin-right: 40px;
}
.main .card .card2 .subh3{
	margin: 15px 0 1px 20px;
	color: #FFFFFF;
}
.main .card .card2 .mainh3{
	margin-left: 20px;
	color: #FFFFFF;
}
.main .card .card2:nth-last-child(1){
	margin-right: 0;
}
.main .find{
	clear: left;
	margin:0px auto 80px auto;
	overflow: hidden;
	width: 1720px;
}
.main .find .findcontent{
	float: left;
	width: 570px;
	margin-right: 90px;
}
.main .find .findcontent>h2{
	text-align: right;
}
.main .find .finddiv{
	float: left;
}
.main .find .finddiv>div{
	height: 260px;
	width: 1060px;
	border-radius: 20px;
	margin-bottom: 50px;
}
.main .find .finddiv>div:nth-last-child(1){
	margin-bottom: 80px;
}
.main .punch{
	clear: left;
	margin:0px 90px 0px 90px;
	overflow: hidden;
	width: 1920px;
}
.main .punch>h2{
	margin-bottom: 30px;
}
.main .punch .punchcard{
	width: 2920px;
	overflow: hidden;
	padding-bottom: 80px;
}
.main .punch .punchcard li{
	height: 200px;
	width: 500px;
	margin-right: 40px;
	background: #FFFFFF;
	float: left;
	border-radius: 20px;
}
.main .punch .punchcard li:nth-last-child(1){
	margin-right: 0px;
}
/*12px*/
.main .punch .punchcard .cardright>span{
	border-radius: 5px;
	height: 36px;
	width: 80px;
	text-align: center;
	line-height: 36px;
	display: inline-block;
	color: #FFFFFF;
	font-size: 22px;
	cursor: pointer;
	position: absolute;
	left: 85px;
	bottom:0px;
}

.main .punch .punchcard .canvas{
	float: left;
	margin: 15px 15px 15px 25px;
}
.main .punch .punchcard .cardright{
	float: left;
	height: 173px;
	margin: 15px 15px 12px 0px;
	position: relative;
	width: 270px;
}
.main .punch .punchcard .cardright .mainh3{
	position: absolute;
	left: 0px;
	bottom: 110px;
}
.main .punch .punchcard .cardright .subh3{
	position: absolute;
	left: 0px;
	bottom:80px;
}
.main .recommend{
	clear: left;
	margin:0px auto 0px auto;
	overflow: hidden;
	padding-bottom: 80px;
	width: 1720px;
}
.main .recommend>h2{
	margin-bottom: 30px;
}
.main .recommend .recommendcard>li{
	height: 480px;
	width: 400px;
	float: left;
	margin-right: 40px;
	border-radius: 20px;
}
.main .recommend .recommendcard>li:nth-last-child(1){
	margin-right: 0px;
}
.main .recommend .recommendcard>li .sign{
	margin: 30px 20px 0 20px;
	display: block;
	font-size: 24px;
	color: #9B9B9B;
}
.main .recommend .recommendcard>li h3{
	margin: 10px 20px 5px 20px;
}
.main .recommend .recommendcard>li .up{
	height: 100px;
	position: relative;
	background-color: rgba(255,255,255,0.5);
}
.main .recommend .recommendcard>li .up .subh3{
	position: absolute;
	top: 15px;
	margin-left: 20px;
	color: #FFFFFF;
}
.main .recommend .recommendcard>li .up .mainh3{
	position: absolute;
	top: 40px;
	margin-left: 20px;
	color: #FFFFFF;
}
.main .recommend .recommendcard>li .down1{
	margin-top: 380px;
	height: 100px;
	position: relative;
	background:#FFFFFF;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
.main .recommend .recommendcard>li .down1 .subh3{
	position: absolute;
	top: 15px;
	margin-left: 20px;
}
.main .recommend .recommendcard>li .down1 .mainh3{
	position: absolute;
	top: 40px;
	margin-left: 20px;
}
.main .recommend .recommendcard>li>ul li{
	height: 80px;
	border-top: 1px solid #ECECEC;
	overflow: hidden;
	width: 360px;
	margin:0 20px;
}
.main .recommend .recommendcard>li>.down2 .circle1{
	float: left;
	height: 60px;
	width: 60px;
	border-radius: 30px;
	margin: 10px 15px 0px 20px;
}

.main .recommend .recommendcard>li>.down2 .title{
	float: left;
	position: relative;
	width: 285px;
	height: 80px;
}
.main .recommend .recommendcard>li>.down2 .title h5{
	position: absolute;
	left: 0px;
	top: 15.2px
}
.main .recommend .recommendcard>li>.down2 .title h4{
	position: absolute;
	left: 0px;
	top: 43px
}
.main .recommend .recommendcard>li>.down2 .title span{
	height: 32px;
	width: 80px;
	text-align: center;
	border-radius: 5px;
	display: inline-block;
	position: absolute;
	right: 0;
	top: 24px;
	line-height: 32px;
}

.main .recommend .recommendcard>li .down2{
	margin-top: 380px;
	height: 100px;
	position: relative;
	background:#FFFFFF;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	overflow: hidden;
}

.main .recommend .recommendcard>li>ul li{
	height: 80px;
	border-top: 1px solid #ECECEC;
	overflow: hidden;
	width: 360px;
	margin:0 20px;
}
.main .recommend .recommendcard>li>ul li .circle1{
	float: left;
	height: 60px;
	width: 60px;
	border-radius: 30px;
	margin-top: 10px;
	margin-right: 15px;
}
.main .recommend .recommendcard>li>ul li .title{
	float: left;
	position: relative;
	width: 285px;
	height: 80px;
}
.main .recommend .recommendcard>li>ul li .title h5{
	position: absolute;
	left: 0px;
	top: 15.2px
}
.main .recommend .recommendcard>li>ul li .title h4{
	position: absolute;
	left: 0px;
	top: 43px
}
.main .recommend .recommendcard>li>ul li .title span{
	height: 32px;
	width: 80px;
	text-align: center;
	border-radius: 5px;
	display: inline-block;
	position: absolute;
	right: 0;
	top: 24px;
	line-height: 32px;
}
.main .recommend .recommendcard>li:first-child .subh3{
	text-align: center;
	cursor: pointer;
}
.main .more{
	clear: left;
	overflow: hidden;
	background: #434343;
	height: 740px;
	color: #FFFFFF;
	padding: 0 90px;
	width: 2920px;
}
.main .more>h2{
	margin: 50px 0px 40px 0px;
}
.main .more .morecard{
	width: 2920px;
	overflow: hidden;
}
.main .more .morecard li{
	width: 700px;
	height: 520px;
	float: left;
	margin-right: 40px;

}
.main .more .morecard>li:nth-last-child(1){
	margin-right: 0px;
}
.main .more .morecard li .moreimg{
	height: 400px;
	width: 700px;
	margin-bottom: 30px;
	border-radius: 20px;
}
.main .more .morecard li>.mainh2{
	margin-bottom: 10px;
}
.main .resources{
	clear: left;
	margin:0px 90px;
	overflow: hidden;
	width: 2920px;
}
.main .resources>h2{
	margin: 60px 0px 45px 0px;
}
.main .resources .resourcescard{
	overflow: hidden;
	padding-bottom: 80px;
}
.main .resources .resourcescard>li{
	height: 160px;
	width: 500px;
	background: #FFFFFF;
	float: left;
	margin-right: 40px;
	border-radius: 20px;
}
.main .resources .resourcescard>li:nth-last-child(1){
	margin-right: 0px;
}
.main .resources .resourcescard>li .circle2{
	border-radius: 60px;
	height: 120px;
	width: 120px;
	margin: 20px; 
	float: left;
}
.main .resources .resourcescard>li .resourcesright{
	float: left;
	height: 160px;
	margin: 20px 0; 
	position: relative;
	width: 320px;
}
.main .resources .resourcescard>li .resourcesright .mainh3{
	position: absolute;
	left: 0px;
	bottom: 85px
}
.main .resources .resourcescard>li .resourcesright .subh3{
	position: absolute;
	left: 0px;
	top: 75px
}
.footer{
	background: #434343;
	height: 500px;
}