@charset "utf-8";
/*
	1A1A1A	标题
	9b9b9b	副标题
 */
.box {
  background: #ffffff;
  width: 100%;
}
.box .mask {
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  height: 100%;
  width: 100%;
  z-index: 1999;
}
.box .mask .details {
  margin: 80px;
  border-radius: 20px;
  background: #ffffff;
  height: 820px;
  overflow: hidden;
  padding-right: 40px;
  z-index: 2000;
}
.box .mask .details .details_left {
  width: 620px;
  background: #74A5DD;
  height: 740px;
  position: absolute;
  border-radius: 20px 0 0 20px;
  margin-right: 40px;
  padding: 40px;
}
.box .mask .details .details_left > .subh3 {
  line-height: 35px;
  color: #FFFFFF;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.box .mask .details .details_left > .mainh2 {
  color: #FFFFFF;
}
.box .mask .details .details_left .info {
  margin-left: 20px;
  position: absolute;
  bottom: 20px;
  width: 580px;
  height: 130px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding-top: 30px;
}
.box .mask .details .details_left .info .circle1 {
  float: left;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin: 0px 20px 0px 30px;
}
.box .mask .details .details_left .info .title .mainh4 {
  margin-top: 29px;
  color: #FFFFFF;
}
.box .mask .details .details_left .info .title .subh4 {
  line-height: 20px;
  color: #FFFFFF;
}
.box .mask .details .details_left .info .title span {
  display: block;
  position: absolute;
  right: 40px;
  height: 40px;
  width: 110px;
  background: #FFFFFF;
  color: #F25B68;
  top: 60px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
}
.box .mask .details .details_right {
  background: #AAE4B7;
  height: 740px;
  margin-left: 740px;
  width: calc(100% - 740px);
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}
.box .header {
  height: 80px;
}
.box .main {
  width: 100%;
  overflow: hidden;
}
.box .main .top {
  height: 160px;
  border-bottom: 1px solid #e3e3e3;
}
.box .main .top h1 {
  margin-left: 40px;
  color: #1a1a1a;
  float: left;
  line-height: 160px;
}
.box .main .top ul {
  position: absolute;
  right: 40px;
  margin-top: 60px;
  overflow: hidden;
}
.box .main .top ul li {
  font-weight: bold;
  float: left;
  padding: 0 20px;
  line-height: 40px;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin-right: 20px;
  color: #1a1a1a;
}
.box .main .top ul li .choose {
  color: #ffffff;
}
.box .main .top ul li:nth-last-child(1) {
  margin-right: 0px;
}
.box .main .project {
  overflow: hidden;
  float: left;
  width: 500px;
  border-right: 1px solid #d2d2d2;
}
.box .main .project .fenlei {
  margin-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
  border-bottom: 1px solid #d2d2d2;
}
.box .main .project .fenlei li {
  font-weight: bold;
  float: left;
  padding: 0 20px;
  text-align: center;
  line-height: 38px;
  height: 38px;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-left: 20px;
  color: #1a1a1a;
}
.box .main .project .fenlei li:first-child {
  margin-left: 40px;
}
.box .main .project .fenlei li:first-child a {
  color: #ffffff;
}
.box .main .project .meclock {
  overflow: hidden;
}
.box .main .project .meclock h3 {
  margin: 20px 0 20px 40px;
}
.box .main .project .meclock ul {
  margin-left: 40px;
  overflow: hidden;
  margin-bottom: 20px;
  width: 1900px;
}
.box .main .project .meclock ul li {
  float: left;
  margin-right: 40px;
  width: 190px;
  position: relative;
}
.box .main .project .meclock ul li h4 {
  margin: 20px auto;
  text-align: center;
}
.box .main .project .meclock ul li .circle1 {
  width: 130px;
  height: 130px;
  position: absolute;
  -webkit-border-radius: 65px;
  -moz-border-radius: 65px;
  border-radius: 65px;
  left: 30px;
  top: 30px;
}
.box .main .project .mycollect {
  overflow: hidden;
}
.box .main .project .mycollect h3 {
  margin: 20px 0;
  margin-left: 40px;
}
.box .main .project .mycollect ul {
  margin-left: 20px;
  overflow: hidden;
  width: 460px;
}
.box .main .project .mycollect ul li {
  position: relative;
  height: 60px;
  overflow: hidden;
}
.box .main .project .mycollect ul li .circle2 {
  height: 40px;
  width: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  position: absolute;
  left: 20px;
  top: 10px;
}
.box .main .project .mycollect ul li .mainh5 {
  float: left;
  margin-left: 90px;
  line-height: 60px;
}
.box .main .project .mycollect ul li .subh5 {
  float: right;
  margin-right: 20px;
  font-weight: bold;
  line-height: 60px;
  color: #e3e3e3;
}
.box .main .view {
  width: calc(100% - 501px);
  float: left;
  overflow: hidden;
}
.box .main .view .viewcard {
  width: 2500px;
}
.box .main .view .viewcard h2 {
  margin: 40px 0 20px 40px;
}
.box .main .view .viewcard ul {
  display: flex;
  height: 480px;
}
.box .main .view .viewcard ul li {
  margin-left: 40px;
  width: 400px;
  height: 460px;
  float: left;
  padding-top: 20px;
  cursor: pointer;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.box .main .view .viewcard ul li h3 {
  margin-left: 20px;
  color: #ffffff;
}
